{% extends 'core/base.html' %}

{% block title%} home{% endblock %}

{% block background%} {% load static%} {% static 'core/img/home-bg.jpg' %} {% endblock%}

{% block headers %}
<h1>Edison Rojas</h1>
<span class="subheading">Ingeniero de Software</span>
{% endblock %}
